@import "@styles/base/mixins.scss";
@import "@styles/variables.scss";

.pc {
  &.list {
    display: flex;
    flex: 160%;

    @supports (gap: 24px) {
      @include adaptiveValue('gap', 48, 24, $containerWidth, 991.98);
    }

    @supports not (gap: 48px) {
      .item:not(:last-child) {
        @include adaptiveValue('margin-right', 48, 24, $containerWidth, 991.98);
      }
    }
  }
}

.mobile {
  margin-top: 20px;

  .list {
    hr {
      width: 280px;
      height: 1px;
      margin: 20px 0 20px -20px;
      background: rgba(207, 207, 207);
    }
  }
}
