@import "@styles/base/mixins.scss";
@import "@styles/variables.scss";

.div {
  margin-right: 64px;
  @media only screen and (max-width: $pc) {
    margin-right: 32px;
  }
  @media only screen and (max-width: $tablet) {
    margin-right: 0;
    flex: 1 auto;
  }
}

.link {
  user-select: none;
}
