{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "preserve",
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid"
}
