@import "@styles/base/mixins.scss";
@import "@styles/variables.scss";

.navbar {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(207, 207, 207, 0.25);
  width: 100vw;
  height: 75px;
  background-color: $white;

  &.open::before {
    content: '';
    position: absolute;
    top: 75px;
    right: 280px;
    display: block;
    box-shadow: 0 4px 12px rgba(207, 207, 207, 0.13) inset;
    min-width: calc(100vw - 280px);
    min-height: calc(100vh - 75px);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: $tablet) {
      justify-content: normal;
    }

    .menu {
      border: 1px solid $lightGray;
      border-radius: 100%;
      padding: 8px;

      svg {
        transition: fill 0.3s ease;
        width: 24px;
        height: 24px;
        fill: $textSecondary;
      }

      &.open svg {
        fill: $brand;
      }
    }

    .pc {
      display: flex;
      align-items: center;
      width: 75%;
    }
  }

  .mobile {
    position: absolute;
    top: 75px;
    right: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(207, 207, 207, 0.25) inset;
    width: 0;
    height: calc(100vh - 75px - 30px);
    padding: 15px 0;
    background-color: $white;

    &.open {
      z-index: 100;
      overflow-x: hidden;
      overflow-y: auto;
      width: 280px;
    }

    &__container {
      margin: 0 auto;
      width: 240px;

      hr {
        margin: 20px 0 20px -20px;
        width: 280px;
        height: 1px;
        background: rgba(207, 207, 207);
      }
    }
  }
}