:root {
  --bg-calculator: rgb(34, 37, 45);

  --bg-blocks: rgb(42, 45, 55);

  --bg-button: rgb(40, 43, 51);
  --hover-button: rgba(0, 0, 0, 0.1);
  --text-color: rgb(255, 255, 255);

  --light-theme: rgb(115, 119, 127);
  --hover-light-theme: rgb(255, 255, 255);

  --dark-theme: rgb(255, 255, 255);
}

.themes__button.light svg {
  stroke: var(--light-theme);
}

.themes__button.light:hover svg {
  stroke: var(--hover-light-theme);
}

.themes__button.dark svg {
  fill: var(--dark-theme);
}
