:root {
  --bg-calculator: #22252d;

  --bg-numpad: #2a2d37;

  --bg-button: #282b33;
  --button-hover: rgba(0, 0, 0, 0.1);
  --number-color: #ffffff;

  --light-theme: #73777F;
  --light-theme-hover: #FFFFFF;

  --dark-theme: #FFFFFF;
}

.themes__button.light svg {
  stroke: var(--light-theme);
}

.themes__button.light:hover svg {
  stroke: var(--light-theme-hover);
}

.themes__button.dark svg {
  fill: var(--dark-theme);
}
