:root {
  --bg-calculator: #22252d;

  --bg-blocks: #2a2d37;

  --bg-button: #282b33;
  --hover-button: rgba(0, 0, 0, 0.1);
  --text-color: #ffffff;

  --light-theme: #73777F;
  --hover-light-theme: #FFFFFF;

  --dark-theme: #FFFFFF;
}

.themes__button.light svg {
  stroke: var(--light-theme);
}

.themes__button.light:hover svg {
  stroke: var(--hover-light-theme);
}

.themes__button.dark svg {
  fill: var(--dark-theme);
}
