:root {
  --bg-calculator: #FFFFFF;

  --bg-blocks: #F9F9F9;

  --bg-button: #F7F7F7;
  --hover-button: rgba(8, 8, 8, 0.1);
  --text-color: #34363C;
  
  --light-theme: #3C3D44;

  --dark-theme: #DFDFDF;
  --hover-dark-theme: #3C3D44;
}

.themes__button.light svg {
  stroke: var(--light-theme);
}

.themes__button.dark svg {
  fill: var(--dark-theme);
}

.themes__button.dark:hover svg {
  fill: var(--hover-dark-theme);
}
