:root {
  --bg-calculator: rgb(255, 255, 255);

  --bg-blocks: rgb(240, 245, 255);

  --bg-button: rgb(255, 255, 255);
  --hover-button: rgba(8, 8, 8, 0.1);
  --text-color: rgb(52, 54, 60);
  
  --light-theme: rgb(60, 61, 68);

  --dark-theme: rgb(200, 200, 200);
  --hover-dark-theme: rgb(60, 61, 68);
}

.themes__button.light svg {
  stroke: var(--light-theme);
}

.themes__button.dark svg {
  fill: var(--dark-theme);
}

.themes__button.dark:hover svg {
  fill: var(--hover-dark-theme);
}
