@import "@/assets/styles/base/mixins.scss";
@import "@/assets/styles/variables.scss";

.item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: color 0.1s ease;
  font-family: $fontFamily;
  font-size: rem(16);
  font-weight: 500;
  color: $textPrimary;

  &:hover {
    color: $primary;
  }

  .arrow {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: $brand;
    border-radius: 100%;

    &::before, &::after {
      position: absolute;
      right: 4.5px;
      margin: 3px;
      content: '';
      width: 3px;
      height: 8px;
      border-radius: 3px;
      background-color: $white;
    }

    &::before {
      top: 1px;
      rotate: -45deg;
    }

    &::after {
      bottom: 1px;
      rotate: 45deg;
    }
  }
}