@use "sass:math";

@import "@/assets/styles/base/reset";
@import "@/assets/styles/base/mixins.scss";
@import "variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@if ($responsiveType == 1) {
  [class*="__container"] {
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding > 0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding > 0 and $maxWidthContainer > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}
