@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --bg-global: antiquewhite;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-global);
}

/**
 * CONTAINER
 */
.calculator__container {
  user-select: none;
  transition: all 0.3s ease;
  border-radius: 25px;
  padding-top: 30px;
  background-color: var(--bg-calculator);
}

@media (min-width: 1900px) {
  .calculator__container {
    border-radius: 50px;
    padding-top: 40px;
  }
}

/**
 * SCREEN
 */
.calculator__screen {
  padding: 0 25px 25px 25px;
}

@media (min-width: 1900px) {
  .calculator__screen {
    padding: 0 25px 25px 25px;
  }
}

/* themes */
.screen__themes {
  margin: 0 auto 10vh auto;
}

.screen__themes.themes {
  transition: all 0.3s ease;
  border-radius: 10px;
  width: fit-content;
  background-color: var(--bg-blocks);
}

.themes__button {
  transition: all 0.3s ease;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.themes__button:hover {
  cursor: pointer;
}

.themes__icon {
  transition: all 0.3s ease;
  max-width: 45px;
  max-height: 35px;
}

@media (min-width: 1600px) {
  .screen__themes.themes {
    border-radius: 15px;
  }
}

@media (min-width: 1900px) {
  .screen__themes.themes {
    border-radius: 20px;
  }

  .themes__icon {
    max-width: 75px;
    max-height: 65px;
  }
}

/* problem */
.screen__problem {
  margin-bottom: 5px;
}

.screen__problem.problem {
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: auto;
  transition: all 0.3s ease;
  max-width: 186px;
  height: 25px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

.problem__icon {
  max-width: 25px;
  max-height: 25px;
}

@media (min-width: 1900px) {
  .screen__problem {
    margin-bottom: 10px;
  }

  .screen__problem.problem {
    max-width: 340px;
    height: 50px;
    font-size: 40px;
  }

  .problem__icon {
    max-width: 40px;
    max-height: 40px;
  }
}

/* solution */
.screen__solution {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow-x: scroll;
  transition: all 0.3s ease;
  max-width: 186px;
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--text-color);
}

.screen__solution::-webkit-scrollbar {
  width: 368px;
  height: 2.5px;
}

.screen__solution::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

@media (min-width: 1900px) {
  .screen__solution {
    max-width: 340px;
    font-size: 75px;
  }

  .screen__solution::-webkit-scrollbar {
   height: 5px;
 }
}

/**
 * NUMPAD
 */
table {
  border-spacing: 10px;
}

.calculator__numpad {
  transition: all .3s ease;
  
  border-radius: 40px 40px 25px 25px;

  padding: 30px 10px;

  background-color: var(--bg-blocks);
}

.numpad__button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border: 0;
  border-radius: 5px;
  padding: 0;
  background-color: var(--bg-button);
}

.numpad__button:hover {
  transition: all .3s ease;
  box-shadow: 0 4px 4px var(--hover-button);
  cursor: pointer;
}

.numpad__button.number {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s ease;

  width: 40px;
  height: 40px;

  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

.numpad__icon {
  max-width: 40px;
  max-height: 40px;
}

.numpad__button.point svg {
  fill: var(--text-color);
  transition: all .3s ease;
}

.numpad__button.backspace svg {
  stroke: var(--text-color);
  transition: all .3s ease;
}

@media (min-width: 1600px) {
  .numpad__button {
    border-radius: 10px;
  }

  .numpad__button.number {
    font-size: 16px;
  }
}

@media (min-width: 1900px) {
  table {
    grid-gap: 20px;
  }

  .calculator__numpad {
    border-radius: 60px 60px 50px 50px;
  }

  .numpad__button {
    border-radius: 20px;
  }

  .numpad__button.number {
    width: 70px;
    height: 70px;
    font-size: 25px;
  }

  .numpad__icon {
    max-width: 70px;
    max-height: 70px;
  }
}
