@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --bg-global: antiquewhite;
}

.wrapper {
  position: absolute;
  top: 0px;
  right: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-global);
}

/**
 * CONTAINER
 */
.calculator__container {
  user-select: none;
  transition: all .3s ease;

  border-radius: 25px;

  background-color: var(--bg-calculator);
}

/**
 * SCREEN
 */
.calculator__screen {
  padding: 40px 25px 25px 25px;
}

/* themes */
.screen__themes {
  margin: 0px auto 50px auto;
}

.screen__themes.themes {
  transition: all .3s ease;

  border-radius: 15px;

  width: fit-content;

  background-color: var(--bg-numpad);
}

.themes__button {
  transition: all .3s ease;

  border: 0px;

  padding: 0px;

  background-color: transparent;
}

.themes__button:hover {
  cursor: pointer;
}

.themes__icon {
  transition: all .3s ease;

  width: 45px;
  height: 35px;
}

/* problem */
.screen__problem {
  margin: 0px 0px 5px 0px;
}

.screen__problem.problem {
  display: flex;
  justify-content: right;
  align-items: center;

  overflow: auto;
  transition: all .3s ease;

  max-width: 206px;
  height: 25px;

  font-size: 21px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--number-color);
}

.problem__icon {
  width: 25px;
  height: 25px;
}

/* solution */
.screen__solution {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  overflow-x: scroll;
  transition: all .3s ease;

  max-width: 206px;

  font-size: 44px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--number-color);
}

.screen__solution::-webkit-scrollbar {
  width: 206px;
  height: 2.5px;
}

.screen__solution::-webkit-scrollbar-thumb {
  background-color: var(--number-color);
}

/**
 * NUMPAD
 */
table {
  border-spacing: 10px;
}

.calculator__numpad {
  transition: all .3s ease;
  
  border-radius: 40px 40px 25px 25px;

  padding: 30px 10px;

  background-color: var(--bg-numpad);
}

.numpad__button {
  transition: all 0.3s ease;

  border: 0px;
  border-radius: 10px;

  padding: 0px;

  background-color: var(--bg-button);
}

.numpad__button:hover {
  transition: all .3s ease;
  box-shadow: 0px 4px 4px var(--button-hover);
  cursor: pointer;
}

.numpad__button.number {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s ease;

  width: 45px;
  height: 45px;

  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--number-color);
}

.numpad__icon {
  max-width: 45px;
  max-height: 45px;
}

.numpad__button.point svg {
  fill: var(--number-color);
  transition: all .3s ease;
}

.numpad__button.back svg {
  stroke: var(--number-color);
  transition: all .3s ease;
}

/**
 * LITTLE ADAPTABILITY
 */
@media only screen and (min-width: 1440px) {
  /**
   * SCREEN
   */
  .calculator__screen {
    padding: 30px 25px 25px 25px;
  }

  /* themes */
  .screen__themes {
    margin: 0px auto 30px auto;
  }

  .screen__themes.themes {
    border-radius: 10px;
  }

  .themes__icon {
    width: 40px;
    height: 30px;
  }

  /* problem */
  .screen__problem {
    margin: 0px 0px 5px 0px;
  }

  .screen__problem.problem {
    max-width: 186px;
    height: 25px;

    font-size: 20px;
  }

  /* solution */
  .screen__solution {
    max-width: 186px;

    font-size: 40px;
  }

  .screen__solution::-webkit-scrollbar {
    width: 368px;
    height: 2.5px;
  }

  /**
   * NUMPAD
   */
  table {
    border-spacing: 10px;
  }

  .numpad__button {
    border-radius: 5px;
  }

  .numpad__button.number {  
    width: 40px;
    height: 40px;
  
    font-size: 14px;
  }
  
  .numpad__icon {
    max-width: 40px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 1600px) {
  /**
   * SCREEN
   */
  .calculator__screen {
    padding: 30px 25px 25px 25px;
  }

  /* themes */
  .screen__themes {
    margin: 0px auto 60px auto;
  }
  
  .screen__themes.themes {
    border-radius: 15px;
  }

  .themes__icon {
    width: 45px;
    height: 35px;
  }

  /* problem */
  .screen__problem {
    margin: 0px 0px 5px 0px;
  }

  .screen__problem.problem {
    max-width: 186px;
    height: 25px;

    font-size: 20px;
  }

  /* solution */
  .screen__solution {
    max-width: 186px;

    font-size: 40px;
  }

  .screen__solution::-webkit-scrollbar {
    width: 368px;
    height: 2.5px;
  }

  /**
   * NUMPAD
   */
  table {
    border-spacing: 10px;
  }
  
  .numpad__button {
    border-radius: 10px;
  }

  .numpad__button.number {  
    width: 40px;
    height: 40px;
  
    font-size: 16px;
  }
  
  .numpad__icon {
    max-width: 40px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 2560px) {
  /**
   * CONTAINER
   */
  .calculator__container {
    border-radius: 50px;
  }
  
  /**
   * SCREEN
   */
  .calculator__screen {
    padding: 40px 25px 25px 25px;
  }

  /* themes */
  .screen__themes {
    margin: 0px auto 120px auto;
  }
  
  .screen__themes.themes {
    border-radius: 20px;
  }

  .themes__icon {
    width: 75px;
    height: 65px;
  }

  /* problem */
  .screen__problem {
    margin: 0px 0px 10px 0px;
  }

  .screen__problem.problem {
    max-width: 358px;
    height: 25px;

    font-size: 25px;
  }

  /* solution */
  .screen__solution {
    max-width: 358px;

    font-size: 45px;
  }

  .screen__solution::-webkit-scrollbar {
    width: 368px;
    height: 5px;
  }

  /**
   * NUMPAD
   */
  table {
    border-spacing: 20px;
  }
  .calculator__numpad {
    border-radius: 60px 60px 50px 50px;
  }
  
  .numpad__button {
    border-radius: 20px;
  }

  .numpad__button.number {  
    width: 70px;
    height: 70px;
  
    font-size: 25px;
  }
  
  .numpad__icon {
    max-width: 70px;
    max-height: 70px;
  }
}
