@import "@/assets/styles/base/mixins.scss";

$FullButtonStandardColor: $white;
$FullButtonStandard: $brand;
$FullButtonHover: rgb(43, 177, 89);
$FullButtonActive: $primary;

.button {
  transition: all 0.3s ease;
  user-select: none;
  border: 0;
  border-radius: 8px;
  width: fit-content;
  padding: 11px 33px;
  background-color: $FullButtonStandard;
  cursor: pointer;
  @include adaptiveValue('font-size', 16, 14);
  font-family: $fontFamily;
  font-weight: 500;
  color: $FullButtonStandardColor;
  &:hover {
    background-color: $FullButtonHover;
  }
  &:active {
    background-color: $FullButtonActive;
  }
}