@import "@styles/base/mixins.scss";
@import "@styles/variables.scss";

.item {
  position: relative;
  &:not(:last-child)::after {
    position: absolute;
    display: block;
    top: 50%;
    translate: 0 -50%;
    content: '';
    background-color: $lightGray;
    height: 25px;
    width: 1px;
    @include adaptiveValue('right', -24, -12, $containerWidth, 991.98);
  }
}

.link {
  transition: color 0.3s ease;
  font-family: $fontFamily;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 400;
  font-size: rem(14);
  color: $textSecondary;
  &:hover {
    color: $brand;
  }

  &.active {
    color: $brand;
  }
}
