@font-face {
  font-family: 'Calibre';
  src: url('./assets/fonts/Calibre-Regular.woff') format('woff'),
    url('./assets/fonts/Calibre-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('./assets/fonts/Calibre-Medium.woff') format('woff'),
    url('./assets/fonts/Calibre-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Calibre';
  src: url('./assets/fonts/Calibre-Semibold.woff') format('woff'),
    url('./assets/fonts/Calibre-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Mono';
  src: url('./assets/fonts/SFMono-Regular.woff') format('woff'),
    url('./assets/fonts/SFMono-Regular.woff2') format('woff2');
  font-weight: 400;
}
