@import "./reset.scss";
@import './fonts.scss';
@import './variables.scss';

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-slate;
  border: 3px solid $navy;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: $navy;
}

::selection {
  background-color: $lightest-navy;
  color: $lightest-slate;
}

a:focus-visible {
  outline: 2px dashed $green;
  outline-offset: 3px;
}